* {
	font-family: 'Raleway', sans-serif !important; 
}

header div {
	background-color: #ffd600 !important;
	color: white;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after { /* lijntje onder tabs */
	background: white !important;
}

.mdl-badge[data-badge]:after {  /* badges */
	background: #ffd600;
	color: white;
}


.mdl-snackbar__action { /* UNDO-knop*/
	color: #ffd600;
}

span.mdl-layout-title {
	margin: auto;
	font-weight: bold;
	font-size: xx-large;
}

.mdl-textfield {
	margin: 0 auto;
	display: block;
}

label {
	text-align: center;
}

#bestellen .page-content {
	padding-top: 3vh;
}

@media (max-width: 1099px) { #bestellen .page-content { column-count: 1; }}
@media (min-width: 1100px) { #bestellen .page-content { column-count: 2; }}
@media (min-width: 1700px) { #bestellen .page-content { column-count: 3; }}

.mdl-card {
	width: 550px;
	margin: 0px auto 24px;
	max-width: 95vw;
	min-height: 12px;
	break-inside: avoid-column;
}

td {
	padding: 1vh 2vw;
}

.icon-td {
	text-align: right;
	padding-left: 0vw;
}

table:first-child {
	width: 100%;
}

img.drink-icon {
	max-height: 2em;
	padding-top: .2vw;
	padding-bottom: .2vw;
}

#progressbar {
	position: fixed;
	bottom: -10px;
	left: 0;
	width: 100%;
	z-index: 2;
	transition: bottom .5s ease-in-out;
}

#ranking .mdl-card {
	margin-top: -12px;
}

i.mdl-list__item-avatar {
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

div#refreshbar {
	background: #ffe141; 
	z-index: 2;
	position: relative;
	padding: 12px;
	text-align: center;
}

#refreshbar > span {
	color: white;
	font-size: large;
}

#refreshlink {
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}